@font-face {
  font-family: 'Caramel';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/caramel@5.0.8/files/caramel-latin-400-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caramel';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/caramel@5.0.8/files/caramel-latin-400-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GowunDodum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

:root {
  --color-thema-04-point: #8b7d8b;
  --spacing: 0.25rem;
  --font-weight-normal: 400;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --font-caramel: "Caramel", cursive, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-thema-04-point {
  color: var(--color-thema-04-point);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
